
<!DOCTYPE html>  
<html lang="en"> 
<link rel="stylesheet" href="login.component.css" type="text/css" >  
<head>  
 
 <title>Welcome to RentoLib</title>

</head>  
<body> 
 <img src="../../assets/logo2.png"  alt="logo2" /> 
 <h1>Login</h1>  
 <form method="post">  
 <input type="username" required="required" placeholder="Username" name="u"/>  
 <input type="password" required="required" placeholder="Password" name="p"/> 
 <button class="but" type="submit"onclick ="/main" >Login</button>  
 <b>Don't have an account?</b>
 <a href="/signup">Sign Up</a>


 </form>  

</body> 

</html>

